body {
@font-face {
    font-family: "STKaiti";
    src: url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.eot");
    src: url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/1ee9941f1b8c128110ca4307dda59917.svg#STKaiti") format("svg");
}

@import url("https://db.onlinewebfonts.com/c/1ee9941f1b8c128110ca4307dda59917?family=STKaiti");

em, .cm-em {
    font-family: 'STKaiti';
    font-style: normal;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'STKaiti'; /* 应用自定义字体 */
    font-weight: normal; /* 可根据需要调整字体粗细 */
}
}
