body em, body .cm-em {
    font-family: "华文楷体", STkaiti, Kaiti;
    font-style: normal;  
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "华文楷体", STkaiti, Kaiti !important; /* 应用自定义字体 */
    font-weight: normal; /* 可根据需要调整字体粗细 */
}
